fluent-toolbar {
	fluent-select[shuffle] {
		min-width: auto;
	}
}

#settingsPanel {
	.settings-row {
		display: flex;
		flex-direction: row;
		align-items: center;

		span {
			font-weight: bold;
		}

		* {
			margin: auto 5px;
		}

		fluent-text-field {
			flex-grow: 99;
		}
	}
}

body {
	height: 100vh;
	overflow: hidden;

	fluent-tabs {
		height: 100vh;
		overflow: hidden;

		fluent-tab-panel {
			height: 100vh;
			overflow: hidden;

			fluent-data-grid {
				height: 100vh;
				overflow: auto;
			}
		}
	}
}
